@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: url("https://th.bing.com/th/id/OIP.BcCA-vhNbvJUGR3yL0p6xwHaDf?pid=ImgDet&rs=1");
    background-size: cover;
    min-height: 100vh;
}
#all{
    border: 1px solid white;
    margin-top: 20px;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid white;
    background-color: aquamarine;
    
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #47063d;
    font-weight: bolder;
}
.main h2{
    color: aqua;
    font-size: 14px;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 700;
    color: rgb(4, 102, 20);
    
}
select {
    font-size: 14px;
    font-weight: 700;
    color: rgb(4, 102, 20);
    margin: 10px 20px;
    padding: 7px 50px;
    outline: none;
}
input {
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
    min-width: 350px;
    margin: 15px;
    padding: 30px;
    border: none;
    border-radius: 8px;
    outline: none;
    transition: 0.5s;
}
.submit, .reset, .swap {
    font-size: 14px;
    font-weight: 700;
    padding: 7px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s transform;
    
}

.submit, .reset, .swap:active {
    transform: scale(0.9);
}
.value, .answer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 56, 33);
    
}
span{
    color: rgb(42, 165, 93);
}